body{
    margin: 0;
    overflow-x: hidden;
}
.page{
    width:58% ;
    height: 90vh;
    margin-top: 2%;
    margin-left: 20%;
    border: 1px solid grey;
}
.header{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
}
.vide{
    width: 30%;
    height: 50%;
}
.search{
    width:60% ;
    height:85% ;
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}
/* .vide_1{
    width: 60%;
    height: 60%;
    margin-right: 5%;
    margin-top: 2%;
    border: 1px solid black;
    border-radius:  20px;
} */
/* .search_1{
    width:28% ;
    height:90% ;
    text-align: center;
    margin-left: 6%;
}
.search_1 p{
    font-size: larger;
} */
.trait{
    width: 100%;
    height: 5%;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}
.trait-horizontal{
    width: 40%;
    margin: 0 auto;
    border-top: 1px solid black;
    margin-top: 2%;
}
.trait-horizontal1{
    width: 40%;
    margin: 0 auto;
    border-top: 1px solid black;
    margin-top: 2%;
}
.pin{
    width: 70%;
    height: 43%;
    border: 1px solid black;
    margin-top: 3%;
    margin-right: 13%;
     border-radius: 15px;
     padding-left: 10px;
     
}
.pin:focus{
    outline: none;
}
.txt{
    width: 10%;
    text-align: center;
}
.main{
    width:100% ;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.block{
    width:100% ;
    height:30% ;
    justify-content: space-evenly;
    display: flex;
}
.search p{
    color: black;
    font-size: larger;
}
.text{
    width:20% ;
    height:90% ;
    text-align: justify;
    box-shadow: 0 15px 15px gray;
    padding: 0.5rem;
}
.text p{
    color: palevioletred;
    margin: 0 ;
    margin-top: 4%;
}

